<div class="flex-clm auth">
  <h2>Sign up</h2>
  <div class="flex-clm auth-form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="flex-clm form-layouts">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "search-input" %>
        </div>
      
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "search-input" %>
        </div>
      
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "search-input" %>
        </div>
      
        <div class="actions">
          <%= f.submit "Sign up", class: "button" %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links", class: "center" %>
</div>


