<%# <div class="flex-row top-bar">
  <h1> Latest searches </h1>
  <%= link_to 'Search for something else', '/searches/search', class: "white" %>
<%# </div> %>
<% if request.headers['Referer'].to_s.present? && URI(request.headers['Referer']).path == '/searches/search' %>
  <script>
    location.reload();
  </script>
<% end %>

<div class='flex-clm margin-left analytic-container'>
  <div class="flex-row top-section">
    <div class=" flex-row head-container">
      <%= render partial: 'layouts/component', locals: { data: {title: "Search users", "sub_title": @users_count, "last_sentence": @users_rate} } %>
      <%= render partial: 'layouts/component', locals: { data: {title: "Your total searches", "sub_title": @user_total_queries, "last_sentence": @total_rate} } %>
      <%= render partial: 'layouts/component', locals: { data: {title: "Total queries", "sub_title": @total_queries, "last_sentence": @total_rate} } %>
      <%= render partial: 'layouts/component', locals: { data: {title: "Today's queries", "sub_title": @today_queries, "last_sentence": @total_rate} } %>
    </div>
    <table class="most-keywords">
      <thead>
        <tr>
          <th>Most sentences</th>
          <th>Search times</th>
        </tr>
      </thead>
      <tbody>
        <% @keyword_counts.each do |keyword, count| %>
          <tr>
            <th class="normal-font"><%= keyword %></th>
            <th class="normal-font"><%= count %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="flex-row tables">
    <div class="flex-clm width-100">
      <div class="flex-row justify-between">
        <p>Your last searches:</p>
        <%= form_tag('/searches', method: 'get', id: 'date-form') do %>
          <%= hidden_field_tag :search_date, nil, id: 'hidden-date-field' %>
          <div id="calendar-container" class="calendar-container">Select date</div>
          <!-- JavaScript to handle the calendar and update the hidden input -->
          <script>
            document.addEventListener('DOMContentLoaded', function () {
              const calendarContainer = document.getElementById('calendar-container');
              const hiddenDateField = document.getElementById('hidden-date-field');
              const dateForm = document.getElementById('date-form');        
              flatpickr(calendarContainer, {
                dateFormat: 'Y-m-d',
                onChange: function (selectedDates, dateStr, instance) {
                  hiddenDateField.value = dateStr;
                  dateForm.submit();
                },
              });
            });
          </script>
        <% end %>
      </div>
      <table>
        <thead>
          <tr>
            <th>Search</th>
            <th>Date</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
        <% @searches_date.each do |search| %>
          <tr>
            <th class="normal-font"><%= search.sentence %></th>
            <th class="normal-font"><%= search.created_at %></th>
            <th>
              <%= form_with(model: search, url: remove_search_path(search), method: :delete, local: true) do |form| %>
                <%= image_submit_tag 'delete-button.svg', alt: 'Delete button', data: { confirm: 'Are you sure?' }, class: 'delete-icon' %>
              <% end %>
            </th>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="keywords-table">
      <p>Most keywords used in the platform</p>
      <table class="keywords-table">
        <thead>
          <tr>
            <th>Keyword</th>
            <th>Number of times</th>
          </tr>
        </thead>
        <tbody>
        <% @keywords.each do |keyword, count| %>
          <tr>
            <th class="normal-font"><%= keyword %></th>
            <th class="normal-font"><%= count %></th>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>