<!DOCTYPE html>
<html>
  <head>
    <title>SearchBox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- In the <head> section of your layout file -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <% flash.each do |key, message| %>
      <div class="flash <%= key %>">
        <%= message %>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <header class="flex-clm header" id="main-header">
        <ul>
          <li class="logo">real-time.<li>
          <li class="<%= current_page?('/searches') ? ' nav-item current' : 'nav-item' %>">
            <div class="nav-icon analytic"></div>
            <%= link_to 'Analytics', '/searches', class: 'no-decoration'%>
          </li>
          <li class="<%= current_page?('/searches/search') || current_page?('/')? ' nav-item current' : 'nav-item' %>">
            <div class="nav-icon search"></div>
            <%= link_to 'Search for articles', '/searches/search', class: 'no-decoration'%>
          </li>
        </ul>
        <div>
        <% if user_signed_in? %>
          <p>Signed in as <%= current_user.email %></p>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "white under-line" %>
        <% end %>
        </div>
      </header>
    <%end%>
    <%= yield %>
    <script>
      {
        const header = document.getElementById('main-header');
        console.log(window.location.pathname);
        if (window.location.pathname == '/') {
          header.style.display = 'none';
        }
      }   
    </script>
  </body>
</html>
