<!DOCTYPE html>
<html>
  <head>
    <title>SearchBox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- In the <head> section of your layout file -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.js"></script>
  </head>

  <body>
    <% if user_signed_in? %>
      <header class="flex-clm" id="main-header">
        <ul>
          <li class="logo">real-time.<li>
          <li class="<%= current_page?('/searches') ? ' nav-item current' : 'nav-item' %>">
            <%= link_to 'Analytics', '/searches', class: 'no-decoration'%>
          </li>
          <li class="<%= current_page?('/searches/search') || current_page?('/')? ' nav-item current' : 'nav-item' %>">
            <%= link_to 'Search for articles', '/searches/search', class: 'no-decoration'%>
          </li>
        </ul>
        <% if user_signed_in? %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "white" %>
        <% end %>
      </header>
    <%end%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
